* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    gap: 20px;
    background-color: rgba(19, 20, 23, 0.9);
    color: #fff;
    font: 500 12px/24px Roboto, Arial, Helvetica, sans-serif;
}

.calendar {
    position: relative;
    max-width: 320px;
    min-width: 240px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    background: url(../img/alpaca.jpg) no-repeat top left/cover;
    border-radius: 6px;
    z-index: 0;
}

.calendar::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(19, 20, 23, 0.9);
    z-index: -1;
    /* z-index: 0  у элемента показывает слой псевдоэлемента */
    pointer-events: none;
    /* отключить взаимодействие с блоком, недоступен для клика */
    border-radius: 6px;
}

.calendar__head {
    display: flex;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    margin-bottom: 8px;
}

.calendar__btn {
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    width: 32px;
    height: 32px;
    display: flex;
    /* подстраховка для центрирования кнопки */
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.calendar__btn-icon {
    width: 8px;
    height: 12px;
}

.calendar__btn._next .calendar__btn-icon {
    transform: rotate(180deg);
}

.calendar__month {
    font: 500 12px/14px Roboto, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    flex-grow: 1;
    text-align: center;
}

.calendar__date {
    position: relative;
    width: calc(100% / 7);
    /* функция расчета ширины ячеек */
    aspect-ratio: 1;
    /* пропорция ширины и высоты ячеек в зависимости от экрана */
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font: 500 12px/24px Roboto, Arial, Helvetica, sans-serif;
    z-index: 0;
}

.calendar__date::after,
.calendar__date::before {
    content: '';
    position: absolute;
    z-index: -1;
}

.calendar__date::before {
    inset: 4px;
}

.calendar__date::after {
    inset: 6px;
}

.calendar__date._start::after,
.calendar__date._end::after {
    border-radius: 50%;
    background-color: rgba(19, 20, 23, 0.1);
    border: 1px solid rgba(19, 20, 23, 0.3);
}

.calendar__date._active::before {
    right: 0;
    left: 0;
    background-color: #2D9CDB;
}

.calendar__date._start::before {
    left: 4px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.calendar__date._end::before {
    right: 4px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.calendar__date._start._end::before {
    inset: 4px;
    border-radius: 50%;
}

.calendar__date._next {
    color: rgba(255, 255, 255, 0.5);
}
